@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
@import "foundation-icons";

[data-magellan-expedition-clone] { visibility:hidden; }

.slide {
	height: 3000px;
	position: relative;
	background-attachment: fixed;
	background-repeat: repeat;
}


#intro{
	height:2000px;
	background-color:#eee;
	background-image:url(../img/bar-1.png), url(../img/bar-2.png);
}
#intro .scrollmsg{ color: #999; }
.logotext {
	text-transform: uppercase;
	font-size: 200px;
	color: #222;
}
.logotext:first-letter{ color: #d12228; }
.logotext .letters3ds { color: #777; }
#blue3ds {
	position: fixed;
	left:50%;
}

#whatisit {
	background-color: #aaf;
	background-image: url(../img/question-2.png), url(../img/question-1.png), url(../img/question-1.png);
	background-size: 60%, 40%, 15%;
}
#whatisit .scrollmsg{ color: #666; }

#outro {
	background: #aaf;
}






.scrollmsg {
	position: fixed;
	bottom: 1px;
	width: 100%;
	font-size: 20px;
	text-transform: uppercase;
}
.scrollmsg i{
	font-size: 25px;
}



#topnav {
	background: inherit;
}
#topnav .sub-nav {
	display: inline-block;
}

#navlogo img{
	height: 20px;
}
#navlogo.active a{
	background: transparent;
}
#scrollprogress {
	background: #fbb;
	height: 2px;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
}





#logosvg{
	height: 200px;
	position: absolute;
	top: 0;
}
path {
	stroke-width: 7px;
}
#g4443 path, #g4475 path {
	stroke-width: 1px;
}